/* PostRow specific styles */

/* トグルボタン */
.posttable-toggle {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  cursor: pointer;
}

.posttable-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.posttable-toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 24px;
}

.posttable-toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.posttable-toggle-input:checked + .posttable-toggle-slider {
  background-color: #115ea3;
}

.posttable-toggle-input:checked + .posttable-toggle-slider:before {
  transform: translateX(20px);
}

.posttable-toggle-input:disabled + .posttable-toggle-slider {
  opacity: 0.5;
  cursor: not-allowed;
}

.posttable-toggle:hover .posttable-toggle-slider:not(.posttable-toggle-slider-checked) {
  background-color: #b0b0b0;
}
