#root {
  --font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  --main-color: #0089ba;
  --border-color: #dcdcdc;
  --surface-color: #ffffff;
  --text-color: #1f2937;
  --muted-text-color: #6b7280;
}

.app {
  display: flex;
  flex-direction: column;
}

.content-middle {
  display: flex;
  min-height: 600px;
}

.content-main {
  flex: 1;
  min-height: 600px;
}
