.app-container {
  font-family: 'SegoeUI', 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'SegoeUI', 'Segoe UI', 'Helvetica Neue', sans-serif;
}
