.checkbox-input {
  appearance: none;
  width: 22px;
  height: 22px;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: border-color 0.2s, background-color 0.2s;
  position: relative;
  border: 2px solid var(--color-primary);
  border-radius: 6px;
}

.checkbox-input::after {
  content: '';
  width: 8px;
  height: 12px;
  position: relative;
  top: -2px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: scale(0) rotate(45deg);
  transition: transform 0.15s ease;
}

.checkbox-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.checkbox-input:checked::after {
  transform: scale(1) rotate(45deg);
}

.checkbox-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

